<app-header></app-header>
<div class="d-flex">
    <div class="d-flex align-items-center flex-column" style="background-image: linear-gradient(to bottom,rgb(103, 206, 175),rgb(219, 243, 231)); height: 91vh; width: 250px;" >
    <a routerLink="/home" class="text-light mt-5 fs-4" style="text-decoration: none;">Home</a>
    <a routerLink="/employee" class="text-light mt-4 fs-4" style="text-decoration: none;">Employees</a>
 </div>
    <div class=" p-4 w-100">
        <div class="d-flex" style="height: 5vh;">
            <h3 class="text-primary">Employee</h3>
           <button  class="btn btn-outline-info ms-auto"><a routerLink="/add" style="text-decoration: none;"><i class="fa-solid fa-user me-2"></i>Add</a></button>
        </div>
        <h3>{{adminLoginTime | date:'short'}}</h3>

        <div class="d-flex mt-5">
            <input type="text" placeholder="Employee name" class="form-control w-25" name="search" [(ngModel)]="searchKey">

            <div class="btn-group ms-3" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Sort
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="sortId()">By Id</a></li>
                  <li><a class="dropdown-item" (click)="sortName()">By name</a></li>
                </ul>
              </div>

              <button (click)="generatePdf()" class="btn btn-warning ms-auto">Export</button>
        </div>
        <div class="row w-100 mt-5">
            <div class="col-md-1"></div>

            <div class="col-md-10">
                <table class="table shadow">
                    <thead>
                        <tr>
                          <th class="p-4 bg-secondary text-light">Employee Id</th>
                          <th class="p-4 bg-secondary text-light">Employee name</th>
                          <th class="p-4 bg-secondary text-light">Email</th>
                          <th class="p-4 bg-secondary text-light">Status</th>
                          <th class="p-4 bg-secondary text-light">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of allEmployee | search:searchKey | paginate: { itemsPerPage: 5, currentPage: p }" [hidden]="employee.id=='1'">
                            <td>{{employee.id}}</td>
                            <td>{{employee.username}}</td>
                            <td>{{employee.email}}</td>
                            <td><button [ngClass]="employee.status=='1'?' btn btn-success':' btn btn-danger'">{{employee.status=='1'?'Active':'Inactive'}}</button></td>

                            <th class="d-flex justify-content-evenly">
                                <a routerLink="/edit/{{employee.id}}"><button class="btn btn-outline-primary"><i class="fa-solid fa-pencil"></i></button></a>
                                <button (click)="deleteEmployee(employee.id)" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                            </th>
                        </tr>
                        <tr *ngIf="(allEmployee | search:searchKey).length==0">
                            <p class="text-danger">Employee Doesnot Exist</p>
                        </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-center align-items-center mt-5">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>

            <div class="col-md-1"></div>
        </div>
    </div>
</div>